.carousel-main{
    margin-top: 0;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40%;
    height: 50%;
    overflow: hidden;
    object-fit: contain;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    }
